@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

font {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", serif;
}

* {
  box-sizing: border-box;
}

/*Variables Couleurs*/
/*Fonts*/
/*Boutons du site*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__title {
  font-family: "Shrikhand", serif;
  color: black;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.88rem 0rem 0.81rem 0rem;
  font-size: 1.875rem;
  z-index: 2;
}
.header .header__location {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  z-index: 1;
}
.header .header__location__form {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .header__location__form__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7rem;
  height: 1rem;
}
.header .header__location__form__input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  border: 0;
  outline: none;
}
.header .header__location__form__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}
.header .header__location__form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}

.section__cto {
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #F6F6F6;
}
.section__cto__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5rem;
}
.section__cto__p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #353535;
  width: 90%;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.section__cto input {
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 124%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  padding: 0.81rem 1.17rem 0.81rem 1.17rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.section__cto input:hover {
  background: linear-gradient(rgba(255, 121, 217, 0.8980392157), rgba(146, 86, 220, 0.8980392157));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.section__fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.section__fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-self: flex-start;
  margin: 3rem 0rem 2rem 0.78rem;
}
.section__fonctionnement__li {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1.78rem;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 20rem;
  height: 4.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1rem;
  align-items: center;
}
.section__fonctionnement__li__p {
  position: absolute;
  right: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}
.section__fonctionnement__li img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 1rem;
  margin-left: 3rem;
}
.section__fonctionnement__li__p2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section__restaurants {
  background-color: #F6F6F6;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem 4rem 1rem;
  gap: 1.5rem;
}
.section__restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  align-self: flex-start;
}
.section__restaurants .restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section__restaurants .restaurants .restaurants__cards {
  display: flex;
  border-radius: 1rem;
  position: relative;
}
.section__restaurants .restaurants .restaurants__cards__like {
  position: absolute;
  bottom: 1.5rem;
  left: 88%;
  width: 1.375rem;
  height: 1.3125rem;
}
.section__restaurants .restaurants .restaurants__cards__like--display {
  position: absolute;
  bottom: 1.5rem;
  left: 88%;
  width: 1.375rem;
  height: 1.3125rem;
  opacity: 0;
  cursor: pointer;
  transition: 300ms;
}
.section__restaurants .restaurants .restaurants__cards__like--display:hover {
  opacity: 1;
  transform: scale(110%);
}
.section__restaurants .restaurants .restaurants__cards__like--display:active {
  opacity: 1;
  transform: scale(110%);
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  margin: 0;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__img {
  width: auto;
  height: 12rem;
  border-radius: 1rem 1rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__img--center {
  border-radius: 1rem 1rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__card-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  padding: 1rem 1rem 0.75rem 0.8rem;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__card-content__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}
.section__restaurants .restaurants .restaurants__cards .restaurants__cards__link__card-content__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.38rem 1.56rem;
  background-color: #353535;
  width: 100%;
}
.footer h2 {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__ul a {
  text-decoration: none;
  color: white;
}
.footer__ul i {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.footer__ul__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.footer__ul__contact {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}
.footer__ul__mentions {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}/*# sourceMappingURL=index.css.map */