@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

font {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", serif;
}

* {
  box-sizing: border-box;
}

/*Variables Couleurs*/
/*Fonts*/
/*Boutons du site*/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 30rem;
  left: 0%;
  animation-name: display;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  visibility: visible;
  animation-duration: 0.3s;
  opacity: 1;
}
@keyframes display {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.loader .egg1 {
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: -0.8rem;
  position: relative;
  animation-name: bounce1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes bounce1 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.loader .egg1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(-10deg, 10deg) rotate(-15deg);
  width: 3.5em;
  height: 3.5rem;
  background: #fff;
  background-image: radial-gradient(circle 0.2rem, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffc400 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  box-shadow: -0.125rem -0.188rem rgba(0, 0, 0, 0.527) inset, 0 0 0.25rem rgba(41, 39, 39, 0.233) inset;
  border-radius: 83% 67% 72% 91%/80% 85% 99% 97%;
  animation: border-egg 0.6s ease-in-out infinite alternate;
}
@keyframes border-egg {
  to {
    border-radius: 100% 100% 100% 100%;
  }
}
.loader .egg2 {
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: -0.8rem;
  position: relative;
  animation-name: bounce2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-3rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-3rem);
  }
}
.loader .egg2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(-10deg, 10deg) rotate(-15deg);
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  background-image: radial-gradient(circle 0.2rem, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffc400 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  box-shadow: -0.125rem -0.188rem rgba(0, 0, 0, 0.527) inset, 0 0 0.25rem rgba(41, 39, 39, 0.233) inset;
  border-radius: 83% 67% 72% 91%/80% 85% 99% 97%;
  animation: border-egg 0.6s ease-in-out infinite alternate;
}
@keyframes border-egg {
  to {
    border-radius: 100% 100% 100% 100%;
  }
}
.loader .egg3 {
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: -0.8rem;
  position: relative;
  animation-name: bounce3;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes bounce3 {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.loader .egg3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(-10deg, 10deg) rotate(-15deg);
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  background-image: radial-gradient(circle 0.2rem, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffc400 90%, transparent 10%), radial-gradient(circle 0.8rem, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  box-shadow: -0.125rem -0.188rem rgba(0, 0, 0, 0.527) inset, 0 0 0.25rem rgba(41, 39, 39, 0.233) inset;
  border-radius: 83% 67% 72% 91%/80% 85% 99% 97%;
  animation: border-egg 0.6s ease-in-out infinite alternate;
}
@keyframes border-egg {
  to {
    border-radius: 100% 100% 100% 100%;
  }
}

.container {
  animation-name: delay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  opacity: 0;
}
@keyframes delay {
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__title {
  font-family: "Shrikhand", serif;
  color: black;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.88rem 0rem 0.81rem 0rem;
  font-size: 1.875rem;
  z-index: 2;
}
.header .header__location {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  z-index: 1;
}
.header .header__location__form {
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .header__location__form__icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7rem;
  height: 1rem;
}
.header .header__location__form__input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  border: 0;
  outline: none;
}
.header .header__location__form__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}
.header .header__location__form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}

.section-cto {
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #F6F6F6;
}
.section-cto .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5rem;
}
.section-cto .text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #353535;
  width: 90%;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.section-cto .btn {
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 124%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  padding: 0.81rem 1.17rem 0.81rem 1.17rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.section-cto .btn:hover {
  background: linear-gradient(rgba(255, 121, 217, 0.8980392157), rgba(146, 86, 220, 0.8980392157));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.section-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.section-fonctionnement .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-self: flex-start;
  margin: 3rem 0rem 2rem 0.78rem;
}
.section-fonctionnement .li {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1.78rem;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 20rem;
  height: 4.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1rem;
  align-items: center;
}
.section-fonctionnement .li .numero {
  position: absolute;
  right: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}
.section-fonctionnement .li .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 1rem;
  margin-left: 3rem;
}
.section-fonctionnement .li .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.37rem 1rem 4.12rem 1rem;
  gap: 1.5rem;
}
.section-restaurants .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  align-self: flex-start;
}
.section-restaurants .restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-restaurants .restaurants .card {
  display: flex;
  border-radius: 1rem;
  position: relative;
  background-color: white;
}
.section-restaurants .restaurants .card .like {
  position: absolute;
  bottom: 1.5rem;
  left: 88%;
  width: 1.375rem;
  height: 1.3125rem;
}
.section-restaurants .restaurants .card .display {
  position: absolute;
  bottom: 1.5rem;
  left: 88%;
  width: 1.375rem;
  height: 1.3125rem;
  opacity: 0;
  cursor: pointer;
  transition: 300ms;
}
.section-restaurants .restaurants .card .display:hover {
  opacity: 1;
  transform: scale(110%);
}
.section-restaurants .restaurants .card .display:active {
  opacity: 1;
  transform: scale(110%);
}
.section-restaurants .restaurants .card .link {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-decoration: none;
}
.section-restaurants .restaurants .card .link .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  margin: 0;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.section-restaurants .restaurants .card .link .img {
  width: auto;
  height: 12rem;
  border-radius: 1rem 1rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}
.section-restaurants .restaurants .card .link .img--center {
  border-radius: 1rem 1rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}
.section-restaurants .restaurants .card .link .card-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  padding: 1rem 1rem 0.75rem 0.8rem;
}
.section-restaurants .restaurants .card .link .card-content .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}
.section-restaurants .restaurants .card .link .card-content .subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.38rem 1.56rem;
  background-color: #353535;
  width: 100%;
}
.footer h3 {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.footer .ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .ul a {
  text-decoration: none;
  color: white;
}
.footer .ul i {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.footer .ul .subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.footer .ul .contact {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}
.footer .ul .mentions {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

@media (min-width: 960px) {
  /* SECTION FONCTIONNEMENT */
  .section-fonctionnement .title {
    margin-left: 7rem;
  }
  /* SECTION RESTAURANTS */
  .section-restaurants {
    padding: 1.88rem 7rem 1.88rem 7rem;
  }
  .section-restaurants .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-self: flex-start;
    align-content: center;
  }
  .section-restaurants .restaurants {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    max-width: 70rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 1.38rem 1.56rem;
    background-color: #353535;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.56rem 1.88rem 1.56rem 1.88rem;
    gap: 4rem;
  }
  .footer h3 {
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .footer .ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer .ul a {
    text-decoration: none;
    color: white;
  }
  .footer .ul i {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  .footer .ul .subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .footer .ul .contact {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
  }
  .footer .ul .mentions {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
  }
  .footer h3 {
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 1.1rem;
    margin: 3rem 0rem 0rem 1rem;
  }
  .footer .ul {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 1rem;
  }
}
@media (min-width: 1440px) {
  /* SECTION FONCTIONNEMENT */
  .section-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 3rem 11rem 3rem 11rem;
  }
  .section-fonctionnement .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  .section-fonctionnement ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  /* SECTION RESTAURANTS */
  .section-restaurants {
    padding: 1.88rem 11rem 1.88rem 11rem;
  }
  .section-restaurants .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-self: flex-start;
    align-content: center;
  }
  .section-restaurants .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
  .section-restaurants .restaurants .card .link .img {
    width: auto;
    height: 12rem;
    border-radius: 1rem 1rem 0rem 0rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 70%;
       object-position: 0% 70%;
  }
  .section-restaurants .restaurants .card .link .img--center {
    border-radius: 1rem 1rem 0rem 0rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 55%;
       object-position: 0% 55%;
  }
}/*# sourceMappingURL=index.css.map */