
/*Mixin pour section Fonctionnement de la page d'accueil*/



@mixin rectangle-fonctionnement {
    border-radius: 1.25rem;
    background-color: $light-grey;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width: 20rem;
    height: 4.5rem;
    margin-bottom: 2rem;
    @include font-btn (black);
    display: flex;
    justify-content: center;
    align-items: center ;
}