
/*Variables Couleurs*/

$white: white;
$dark-grey: #353535;;
$light-green: #99E2D0;
$dark-green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$pink: #FF79DA;
$light-grey:#F6F6F6;
$grey: #EAEAEA;
$black: black ;
$gradient: linear-gradient(0deg, $purple -11.44%, $pink 124%);


